@import 'https://fonts.googleapis.com/css?family=Share+Tech+Mono';

body {
  font-family: 'Share Tech Mono', monospace;
  background-color: #222;
  color: #EEE;
}

.header h1 {
  font-weight: lighter;
}

.wide {
  max-width: 960px;
  margin: 0 auto;
}

.header h2 {
  font-size: 80px;
  font-weight: lighter;
  margin: 0 auto;
}

.header h1 {
  font-size: 36px;
  margin: 0 auto;
}
