body {
  font: 1em 'Ubuntu', "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #222;
	color: #FFF;
	font-weight: thin;
	max-width: 960px;
	margin: 0 auto;
	padding: 10px;
}

.wrapper {
  width:860px;
  margin:0 auto;
}

body a {
	text-decoration: none;
	color: #FFF
}

iframe {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: lighter;
	color: #00FF00;
}

a:hover {
	color: #00FF00;
}

.subtitle {
  color: #777;
  font-size: 12px;
}

li {
	list-style: none;
	list-style-position: inside;
	margin-left: -40px;
}

img {
  display: block;
  margin: 0 auto;
  border-radius: 3px;
  max-width: 90%;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

.readmore a {
  font-size: 12px;
  color: #555;
}

.postdate {
  font-size: 12px;
  color: #555;
}

.copyright {
  text-align: center;
  font-size: 12px;
  color: #777;
}

video {
  max-width: 640px;
	height: auto;
}

.hosts div {
  padding: 0.5%;
}

.button {
  background-color: #111;
  padding: 15px 25px;
  border-radius: 5px;
  margin: 0 15px;
  white-space: nowrap;
}

.button:hover {
  box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}

.menu {
  text-align: center;
}
.menu a {
  line-height: 4rem
}

.menu a:hover {
  color: #00FF00;
  background-color: #000;
}

iframe {
  border-radius: 3px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

body img {
  box-shadow: unset;
}

@media (max-width:512px) {

  .button {
    padding-left: 15%;
    padding-right: 15%;
  }

}

section {
  width:500px;
  float:right;
  padding-bottom:50px;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:270px;
  float:left;
  position:fixed;
  bottom:50px;
  -webkit-font-smoothing:subpixel-antialiased;
}

@media print, screen and (max-width: 960px) {

  div.wrapper {
    width:auto;
    margin:0;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  header {
    padding-right:320px;
  }

  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }

  header {
    padding:0;
  }

  header ul, header p.view {
    position:static;
  }

  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }

  header ul {
    width:99%;
  }

  header li, header ul li + li + li {
    width:33%;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}
