<h1><a href="{{ site.baseurl }}/"><img class="aligncenter" src="{{ site.baseurl }}/img/hack-night-logo.png"></a></h1>
<div class="menu">
<p>
  <a class="button" href="/about/">About</a>
  <a class="button" target="_blank" href="http://www.uncoded.org/">UnCoded Website</a>
  <a class="button" target="_blank" href="https://www.meetup.com/Uncoded/">Uncoded MeetUp</a>
  <a class="button" target="_blank" href="https://github.com/hacknightlbc/">GitHub Group</a>
	<a class="button" href="/contact/">Contact</a>
</p>
</div>

<div class="improve right hide-on-mobiles">
  <a href="https://github.com/uncodedlb/hacknightlbc.github.io/edit/master/{{ page.path }}" target="_blank"><i class="fa fa-pencil"></i> &nbsp;Improve this page</a>
</div>
