<header>
  <h1><a href="{{ site.baseurl }}/"><img class="aligncenter" src="{{ site.baseurl }}/img/hack-night-logo.png"></a></h1>
  <div class="menu">
  <p>
    <a class="button" href="{{ site.baseurl }}/about/">About</a>
    <a class="button" href="https://drive.google.com/drive/folders/0B7EyctU67zFNckp4WXNVbGRYVm8">Public Folder</a>
    <a class="button" target="_blank" href="http://www.uncoded.org/">UnCoded Website</a>
    <a class="button" target="_blank" href="https://www.meetup.com/Uncoded/">Uncoded MeetUp</a>
    <a class="button" target="_blank" href="{{ site.github.repository_url }}">GitHub Group</a>
    <a class="button" href="{{ site.baseurl }}/contact/">Contact</a>
  </p>
  </div>
</header>